<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Email Account Checker</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>body {
        padding-top: 5rem;
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
      }</style>
      <script src="jquery.js"></script>
      <script src="socket.io/socket.io.js"></script>
      <script>

            // goi dien len server
            var socket = io("http://localhost");
            var live = 0;
            var totals = 0;
            var checked = 0;
            socket.on("Serven-send-data",function(data){
                checked++
                $("#total").html(checked);
                if(data.stt == 1){
                    $("#live").append(data.ret+"</br>") 
                    live++
                    $("#totallive").html(checked);
                } 
                else $("#die").append(data.ret+"</br>");
            })
            $(document).ready(function(){
                $('#check').click(function() {
                    let mplist = $("#mailpass").val().split('\n');
                    if(totals==0) totals = mplist.length
                    else totals = totals + mplist.length
                    $("#totals").html(totals);
                    socket.emit("Client-send-data",$("#mailpass").val())
                })
            });
            </script>

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Email Account Checker</h1>

            <div class="form-group">
              <textarea class="form-control" id="mailpass" rows="3"></textarea>
            </div>
            <button type="button" id="check" class="btn btn-primary">Check</button>
     
      </div>
      
      <div id="show">
            <div><b><font color='red'>Status</font> ( Checked : <b id='total'>0</b> | Live : <b id='totallive'>0</b> | Totals : <b id='totals'>0</b></div>
            <div id="live" style="color:green;" ></div>
            <div id="die" style="color:red;" ></div>
        </div>
    </main>
      <!-- /.container -->
    <script src="/js/bootstrap.min.js"></script>

  </body>    