<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Email Account Checker</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <style>
        body {
            background-color: #e9ecf0;
            padding-top: 2rem;
        }

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <main role="main" class="container">
        <div class="starter-template">
            <h1>Email Account Checker</h1>
            <div class="form-group">
                <textarea style="height:200px;" class="form-control" id="mailpass" rows="3"></textarea>
            </div>
            <button style="width: 100%;height: 50px;" type="button" id="check" class="btn btn-primary">Check</button>
        </div>
        <div id="show">
            <div><b>Đã check : <b class="checked">0</b> | Còn lại : <b class='conlai'>0</b> | Tổng cộng : <b class="slmailpass">0</b></b>
            </div>
            <div id="live" style="color:green;"></div>
            <div id="die" style="color:red;"></div>
        </div>
    </main>
    <!-- /.container -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(e) {
          var thread = 100;
          var current = 0;
          if (current < thread) {
            current ++;
          }
            var checkEmail = function(mplist, index) {
                //$('.mailchecking').text(mplist[index]);
                var sllmailpass = mplist.length;
                var mail = mplist[index].split('|')[0].trim();
                var pass = mplist[index].split('|')[1].trim();
                var dta = {
                    "email": mail,
                    "password": pass
                };
                $('#mailpass').val($('#mailpass').val().replace(mplist[index], ""));
                $('#mailpass').val($('#mailpass').val().substring(1));
                $.post("?t=" + Math.random(), dta, function(data, status) {
                    if (status == "success") {
                        console.log(data);
                        if (data.stt == 0) {
                            //$("#die").append(data.ret + "</br>");
                            index++;
                        } else if (data.stt == 1) {
                            $("#live").append(data.ret + "</br>")
                            index++;
                        } else {
                            $("#die").append(data.ret + "</br>");
                            index++;
                        }
                        console.log(index);
                        if (index <= sllmailpass - 1) {
                            $('.checked').text(index);
                            $('.conlai').text(parseInt($('.slmailpass').text()) - parseInt($('.checked').text()));
                            checkEmail(mplist, index)
                        } else {
                            $('.checked').text(index);
                            $('.conlai').text(parseInt($('.slmailpass').text()) - parseInt($('.checked').text()));
                            alert('Done');
                        }
                    } else {
                        alert('Fail');
                    };
                }, 'json');
            }
            $('#check').click(function() {
                var mplist = $('#mailpass').val().split('\n');
                $('.slmailpass').text(mplist.length);
                checkEmail(mplist, 0);
            });
        });
    </script>
</body>